<div class="mt-5 grid xl:grid-cols-6 md:grid-cols-5 sm:grid-cols-3 min-[300px]:grid-cols-2 md:grid-flow-row gap-2 px-2 sm:px-0">
    <% Dir.glob("app/assets/audio/*").map do |path| %>
        <% next unless (match = path.match(/app\/assets\/audio\/([a-zA-Z0-9_]*)\.[a-zA-Z0-9]+/)) %>
        <% file_name = match.captures.first %>
        <% name = file_name.split("_").join(" ").capitalize %>

        <div data-controller="sound" data-simple=1 class="aspect-[16/9] gap-2 border-2 border-teal-700 rounded bg-cover bg-no-repeat">
            <%= audio_tag file_name, data: { sound_target: "audio" } %>
            <%= image_tag file_name + "_img", class: "hidden", data: { sound_target: "background" } %>
            <div class="flex justify-center bg-black bg-opacity-60">
                <h5 data-sound-target="name" class="truncate px-2 select-none" title="<%= name %>"><%= name %></h5>
            </div>
            <div class="h-3/5 flex justify-between">
                <svg
                    data-sound-target="play"
                    data-action="click->sound#play"
                    height=100%
                    class="pt-1 ps-1 cursor-pointer"
                    viewbox="-6.5 -4 18 18"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <circle cx=2.5 cy=5 r=9 fill=lightgreen />
                    <path
                        d="M 0 1 L 0 9 Q 0 10 1 10 Q 2 10 3 9 L 6 6 Q 7 5 6 4 L 3 1 Q 2 0 1 0 L 1 0 Q 1 0 1 0 Q 0 0 0 1"
                        fill=none
                        stroke=green
                    />
                    <circle cx=2.5 cy=5 r=7 fill=none stroke=green />
                </svg>
                <svg
                    data-sound-target="pause"
                    data-action="click->sound#pause"
                    height=100%
                    class="pt-1 ps-1 cursor-pointer hidden"
                    viewbox="-7 -4 18 18"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <circle cx=2 cy=5 r=9 fill=lightgreen />
                    <path
                        d="M 0 2 L 0 8 C 0 9 1 9 1 8 L 1 2 C 1 1 0 1 0 2 Z M 3 2 L 3 8 C 3 9 4 9 4 8 L 4 2 C 4 1 3 1 3 2 Z"
                        fill=green
                        stroke=green
                        stroke-width=0.5
                    />
                    <circle cx=2 cy=5 r=7 fill=none stroke=green />
                </svg>
                <div class="grow flex justify-center items-center">
                    <span
                        data-sound-target="probabilityDisplay"
                        class="bg-black bg-opacity-80 border-2 border-teal-700 rounded p-2 select-none"
                    ></span>
                </div>
            </div>
            <div class="px-1 pt-1 mt-1 bg-black bg-opacity-60">
                <input data-sound-target="probability" type="range" class="w-full" min=0 max=100>
            </div>
        </div>
    <% end %>
</div>
