<div class="flex justify-center items-center flex-row gap-2 sm:px-0 px-2">
    <button data-controller="pause" data-action="pause#toggle" class="grow basis-0 border-2 border-teal-700 transition-colors duration-150 rounded hover:bg-teal-700 py-2 truncate min-w-32">Disable all sounds</button>
    <button data-action="layout#switch" data-layout-target="button" class="border-2 border-teal-700 hover:bg-teal-700 transition-colors duration-150 rounded p-2 truncate min-w-32">Switch to advanced layout</button>
</div>
