<div class="w-full h-screen flex flex-col md:flex-row md:space-x-5 md:space-y-0 md:px-0 sm:px-5 px-1 space-y-5 py-5">
    <%= render partial: "index_link", locals: { name: "Spotify", path: spotify_search_path } %>
    <%= render partial: "index_link", locals: { name: "Standalone", path: standalone_path } %>
</div>
